html,
body {
    height: 100%;
}
body {
  font-family: Helvetica, Arial;
  font-size: 1.2em;
  margin: 0 auto;
  /* overflow: hidden; */
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
}
header {
  display:flex;
  flex-direction:column;
  padding:0 2vmin;
  /* padding: 10vmin; */
}
.headtitle, #playerSpan {
  padding:1vmin;
  margin:0;
}
#chat {
  display:inline;
  position:fixed;
  right:0;
  /* margin:10vmin; */
  /* flex-direction:row; */
  /* border:1vmin solid black; */
  border-radius:3vmin;
  /* margin:0 auto; */
  max-width:100vmin;
  max-height:100vmin;
  overflow:scroll;
  padding:2vmin;
  z-index:100;
}
#messages {
  list-style: none;
  padding: 0;
  margin: 0;
}